#lights {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

#lights canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
}