@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark-bg text-dark-text antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-dark-bg;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}
